@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.logo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo img {
    width: 200px;
    height: auto;
}

.login-form {
    background-color: #1e1e1e;
    padding: 2rem 2.5rem;
    border-radius: 15px;
    width: 100%;
    max-width: 360px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.login-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.login-input,
.login-password {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 8px;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.login-input:hover,
.login-password:hover {
    background-color: #333;
}

.login-input input,
.login-password input {
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
    outline: none;
    padding-left: 10px;
    font-family: inherit;
}

.login-btn {
    background-color: #2e2e2e;
    border: none;
    border-radius: 8px;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: inherit;
}

.login-btn:hover {
    background-color: #4e4e4e;
}

.login-error {
    background-color: #ff4444;
    color: white;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 20px;
}


.login-link,
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #bbb;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-link:hover,
a:hover {
    color: #fff;
}

input::placeholder {
    color: #aaa;
}

i {
    color: #888;
    margin-left: 8px;
    font-size: 18px;
}
