<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/css/faq.css}">
    <script th:src="@{/js/background.js}" defer></script>
</head>
<body>

<canvas></canvas>

<div class="logo">
    <a href="/logo"><img src="/images/autoUBI.png" alt="Logo"></a>
</div>

<div class="auth-buttons">
    <a class="btn-login" href="/perfil"><i class="bi bi-person-fill"></i></a>
</div>

<div class="menu">
    <i class="bi bi-list"></i>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="content">
    <h1 style="text-align: center; color: white; margin-top: 100px;">Perguntas Frequentes (FAQ)</h1>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
