<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Veiculos Management</title>
</head>
<body>
<div>
    <button onclick="window.location.href='/login'">login</button>
    <button onclick="window.location.href='/registar'">registar</button>
    <h1>Lista de Veiculos</h1>
    <a th:href="@{/showNewVeiculoForm}">Adicionar Veiculo</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Placa</th>
            <th>Cor</th>
            <th>Preco</th>
            <th>Acoes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="veiculo : ${listaVeiculos}">
            <td th:text="${veiculo.ID}"></td>
            <td th:text="${veiculo.marca}"></td>
            <td th:text="${veiculo.categoria}"></td>
            <td th:text="${veiculo.modelo}"></td>
            <td th:text="${veiculo.ano}"></td>
            <td th:text="${veiculo.placa}"></td>
            <td th:text="${veiculo.cor}"></td>
            <td th:text="${veiculo.preco}"></td>
            <td>
                <a th:href="@{/showUpdateVeiculoForm/{id}(id=${veiculo.ID})}">Atualizar</a>
                <a th:href="@{/deleteVeiculo/{id}(id=${veiculo.ID})}">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
