<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/perfil.css}">
    <script th:src="@{/js/background.js}" defer></script>
</head>
<body>

<div class="logo">
    <a th:href="@{/logo}">
        <img src="/images/autoUBI.png" alt="Logo">
    </a>
</div>
<div class="auth-buttons">
    <a class="btn-login" onclick="window.location.href='/perfil'"><i class="bi bi-person-fill"></i></a>
</div>

<div class="menu">
    <i class="bi bi-list"></i>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu-off">
    <ul>
        <li><a href="/logo">Home</a></li>
        <li><a href="/veiculos">Veículos</a></li>
        <li><a href="/estatisticas">Estatísticas</a></li>

        <li th:if="${isAdmin}"><a href="/Visualizarveiculos">Visualizar veículos</a></li>
        <li th:if="${isAdmin}"><a href="/admColocarVeiculo">Adicionar carro</a></li>
        <li th:if="${isAdmin}"><a href="/modificar">Modificar carro</a></li>
        <li th:if="${isAdmin}"><a href="/eliminar">Eliminar carro</a></li>
        <li th:if="${isAdmin}"><a href="/gerir">Gerir</a></li>

        <li><a href="/faq">FAQ</a></li>
        <li><a href="/sobre">Sobre nós</a></li>
    </ul>
</div>

<div class="perfil-container">
    <h1>Olá, <span th:text="${user.nome}">Nome</span></h1>
    <p>Email: <span th:text="${user.email}">email@exemplo.com</span></p>
    <p>Morada: <span th:text="${user.morada}">morada</span></p>
    <p>Telemóvel: <span th:text="${user.numTelemovel}">912345678</span></p>


    <h2>Histórico de Compras</h2>

    <div class="compras-lista">
        <div th:if="${#lists.isEmpty(compras)}">
            <p>Sem compras registadas.</p>
        </div>

        <ul th:each="compra : ${compras}">
            <li>
                <strong th:text="${compra.veiculo.marca + ' ' + compra.veiculo.modelo}"></strong>

                <span th:text="${compra.dataVenda}"></span> |<span th:text="${compra.precoVenda + ' €'}"></span> |<a
                    th:href="@{'/recibo-txt/' + ${compra.idVenda}}" target="_blank" class="btn-fatura">📄 Fatura</a></li>
        </ul>
    </div>

    <h2>Alterar password</h2>
    <form th:action="@{/alterar-password}" method="post">
        <input type="password" name="novaPassword" placeholder="Nova password" required/>
        <input type="password" name="confirmarPassword" placeholder="Confirmar password" required/>
        <button type="submit">Atualizar</button>
    </form>

    <form th:action="@{/logout}" method="get" style="margin-top: 20px;">
        <button type="submit" class="logout-btn">Sair</button>
    </form>

</div>

<div th:if="${param.success}" style="color: lightgreen; text-align: center;">Password atualizada com sucesso!</div>
<div th:if="${param.error}" style="color: red; text-align: center;">Erro ao atualizar a password!</div>

<canvas></canvas>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
