<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addUser" method="post">
    <input type="email" name="email" placeholder="Username" required/>
    <input type="password" name="password" placeholder="Password" required/>
    <input type="password" name="password2" placeholder="Password" required/>
    <input type="text" name="nome" placeholder="nome" required/>
    <input type="text" name="tel" placeholder="telemovel" required/>
    <input type="text" name="morada" placeholder="morada(opcional)" required/>
    <button type="submit">Register</button>
</form>
</body>
</html>