<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sobre nós</title>
    <link rel="stylesheet" th:href="@{/css/sobre.css}">
    <script th:src="@{/js/background.js}" defer></script>
</head>
<body>

<canvas></canvas>

<div class="logo">
    <a  th:href="@{/logo}"><img src="/images/autoUBI.png" alt="Logo"></a>
</div>

<div class="auth-buttons">
    <a class="btn-login" href="/perfil"><i class="bi bi-person-fill"></i></a>
</div>

<div class="menu">
    <i class="bi bi-list"></i>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="content">
    <h1 style="text-align: center; color: white; margin-top: 100px;">Sobre a AutoUBI</h1>
</div>

<div class="about-box">
    <p>
    Bem-vindos à AutoUBI!
        Nós somos um stand automóvel que pretende ser uma mais valia para este mercado.
        Hoje em dia as empresas focam-se principalmente em vendas e nos seus lucros, sem se preocupar com o consumidor.
        No nosso caso é diferente, tentamos proporcionar aos nossos clientes uma experiência única, através de uma compra muito simplificada e acessível, com todos os dados acerca do nosso veículo, para  que os clientes saibam exatamente o tipo de carro que estão a comprar.
        Almejamos alcançar grandes patamares com o auxílio dos nossos clientes, uma vez que a sua satisfação é o nosso foco principal.
        Acreditamos que com clientes satisfeitos para além da nossa missão estar cumprida, conseguimos vender sonhos, através dos quais materializados em veículos, deixando assim a nossa missão concluída.

    </p>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
