<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">

    <link rel="stylesheet" th:href="@{/css/sobre.css}">

</head>
<body>


<div class="logo">
    <a  th:href="@{/logo}"><img src="/images/autoUBI.png" alt="Logo"></a>
</div>

<div class="auth-buttons">
    <a class="btn-login" onclick="window.location.href='/login'"><i class="bi bi-person-fill"></i></a>
</div>

<div class="menu">
    <i class="bi bi-list"></i>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="menu-off">
    <ul>
        <li><a href="/logo">Home</a></li>
        <li><a href="/veiculos">Veículos</a></li>
        <li><a href="/estatisticas">Estatísticas</a></li>

        <li th:if="${isAdmin}"><a href="/Visualizarveiculos">Visualizar veículos</a></li>
        <li th:if="${isAdmin}"><a href="/admColocarVeiculo">Adicionar carro</a></li>
        <li th:if="${isAdmin}"><a href="/modificar">Modificar carro</a></li>
        <li th:if="${isAdmin}"><a href="/eliminar">Eliminar carro</a></li>
        <li th:if="${isAdmin}"><a href="/gerir">Gerir</a></li>

        <li><a href="/faq">FAQ</a></li>
        <li><a href="/sobre">Sobre nós</a></li>
    </ul>
</div>

<div class="content">
    <h1 style="text-align: center; color: white; margin-top: 100px;">Sobre a AutoUBI</h1>
</div>

<div class="about-box">
    <p>
    Bem-vindos à AutoUBI!
        Nós somos um stand automóvel que pretende ser uma mais valia para este mercado.
        Hoje em dia as empresas focam-se principalmente em vendas e nos seus lucros, sem se preocupar com o consumidor.
        No nosso caso é diferente, tentamos proporcionar aos nossos clientes uma experiência única, através de uma compra muito simplificada e acessível, com todos os dados acerca do nosso veículo, para  que os clientes saibam exatamente o tipo de carro que estão a comprar.
        Almejamos alcançar grandes patamares com o auxílio dos nossos clientes, uma vez que a sua satisfação é o nosso foco principal.
        Acreditamos que com clientes satisfeitos para além da nossa missão estar cumprida, conseguimos vender sonhos, através dos quais materializados em veículos, deixando assim a nossa missão concluída.

    </p>
</div>
<canvas></canvas>

<script th:src="@{/js/background.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
